.feedback-section{
  background-color: #f6f6f6;
  height: 810px;
}
.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__name{
    font-size: var(--normal-font-size);
    font-weight: var(--semibold-font);
    color: var(--text-color-secondary);
    text-align: center;
    line-height: 19px;
  }
  &__header{
    font-size: var(--h2-font-size);
    font-weight: var(--semibold-font);
    color: var(--text-color-primary);
  }
  &__text{
    font-size: var(--h3-font-size);
    font-weight: var(--regular-font);
    color: var(--text-color-gray);
    line-height: 34px;
  }
  &__author{
    font-size: 24px;
    font-weight: var(--medium-font);
    color: var(--text-color-primary);
    margin-top: 54px;
    text-align: center;
  }
  &__job{
    font-size: var(--normal-font-size);
    font-weight: var(--medium-font);
    text-align: center;
    color: var(--text-color-primary);
  }

  &__description{
    padding-top: 80px;
  }
  &__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
  }
  &__carousel{
  width: 820px;
  height: 415px;
  margin-top: 83px;
  padding: 60px 55px;

  background: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(0, 152, 70, 0.1);
  border-radius: 48px 6px;
  }
}