
.portfolio{
  height: 1000px;
  &__header{
    font-size: var(--h2-font-size);
    color: var(--text-color-primary);
    font-weight: var(--semibold-font);
  }
  &__name{
    padding-bottom: 10px;
    font-size: var(--normal-font-size);
    font-weight: var(--semibold-font);
    color: var(--text-color-secondary);
    line-height: 19px;
  }
  &__navbar{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  &__navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__items{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }
  &__item{
    font-size: var(--normal-font-size);
    color: var(--text-color-primary);
    font-weight: var(--medium-font);
    cursor: pointer;
  }
  &__active{
    color: var(--text-color-secondary);
  }
  &__cards{
    padding-top: 57px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }
  &__card{
    width: 100%;
    padding: 18px;
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(0, 152, 70, 0.1);
    border-radius: 14px;
    
  }
  &__text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__img {
    width: 100%;
  }
}