.vakansiya-section{
  height: 681px;
}

.vakansiya{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  &__name{
    color: var(--text-color-secondary);
    font-size: var(--normal-font-size);
    font-weight: var(--semibold-font);
  }
  &__header{
    font-size: var(--h2-font-size);
    font-weight: var(--semibold-font);
    color: var(--text-color-primary);
    line-height: 41px;
  }
  &__item{
    margin-top: 20px;
    font-size: var(--normal-font-size);
    font-weight: var(--regular-font);
    color: var(--text-color-gray);
  }
  &__line{
    padding-right: 10px;
    padding-bottom: 4px;
  }
  .button{
    background-color: var(--text-color-secondary);
    margin-top: 30px;
  }
}